.App {
  width: 800px;
  height: 400px;
  perspective: 1000px;
}

.flip-card{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Adjust shadow for darker effect */
  border-radius: 30px;
}

.rotate-flip {
  transform: rotateY(180deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Adjust shadow for darker effect */
}

.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 30px;
  border-style: solid;
  border-width: 10px;
  border-color: #92817a;
  background-color: #6a5242;
}

.flip-card-front {
  color: white;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  position: relative;
}

.profile-pic, .name-div, .links, .paragraph, .signature{
  display: flex;
  position: absolute;
}

.profile-pic{
  bottom: 53%;
  right: 77%;
  width: 160px;
  height: 160px;
  /* background-color: white; */
  border-radius: 30px;
  background-image: url(profilepic.jpeg);
  background-size: cover;
  background-position: center;
}

.name-div{
  bottom: 76.58%;
  left: 25%;
  width: 565px;
  height: 70px;
  /* background-color: white; */
  border-radius: 10px;
}

#name{
  color: rgb(229, 213, 204);
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

.links{
  bottom: 53%;
  left: 25%;
  width: 565px;
  height: 80px;
  background-color: white;
  border-radius: 10px;
}

.paragraph{
  bottom: 5%;
  left: 2.5%;
  width: 94.9%;
  height: 40%;
  background-color: white;
  border-radius: 10px;
}

.signature{
  bottom: 5%;
  left: 2.5%;
  width: 94.9%;
  height: 90%;
  /* background-color: white; */
  border-radius: 10px;
  background-image: url("signature.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%; /* Adjust the value to make the image smaller */
}
